<header>
  
	<div id="loading" style="visibility: hidden;"></div>

  <div id="insert-toggle">
    <a href="#" id="insert-many" title="Insert many images (keep browser open)">Insert many</a>
    <a href="#" id="insert-one" title="Insert one image">Insert one</a>  
    <script type="text/javascript" charset="utf-8">
      var defaultInsertionMode = <%= @insert_many_images.to_s %>;
    </script>  
  </div>

  <ul id="styles" class="scopes" data-default-style="<%= @default_style %>">
    <li class="label">Image style to insert</li>
    <% for style in @styles %>
      <li class="scope" id="style-<%= style %>" data-rich-style="<%= style %>"><%= style %></li>
    <% end %>
  </ul>
  
</header>

<div id="legacy-form"><%= form_for(@rich_asset, :url => files_path) do |f| %>
  <p><%= f.file_field :image%></p>
  <%= f.submit("Upload") %>
<% end %>
</div>

<ul id="items">
  
  <li id="uploadBlock">
    <div id="upload" class="qq-upload-button placeholder">
      <div class="spinner"></div>
    </div>
    <p>Upload an image</p>
  </li>

	<%= render :partial => "image", :collection => @items, :as => :file %>

</ul>