<% content_for :head do %>
  <%= javascript_include_tag "fileuploader" %>
<% end %>

<header>
  <ul id="styles" class="scopes" data-default-style="<%= @default_style %>">
    <li class="label">Image style to insert</li>
    <% for style in @styles %>
      <li class="scope" id="style-<%= style[0] %>" data-rich-style="<%= style[0] %>"><%= style[0] %></li>
    <% end %>
    <li class="scope selected">original</li>
  </ul>
</header>

<div id="legacy-form"><%= form_for(@rich_image, :url => files_path) do |f| %>
  <p><%= f.file_field :image%></p>
  <%= f.submit("Upload") %>
<% end %>
</div>

<ul id="images">
  
  <li id="uploadBlock">
    <div id="upload" class="qq-upload-button placeholder">
      <div class="spinner"></div>
    </div>
    <p>Upload an image</p>
  </li>
  
<% for file in @images %>
    <%= render :partial => 'image', :locals => {:file => file} %>
<% end %>

</ul>