<header>
  <ul id="styles" class="scopes" data-default-style="<%= @default_style %>">
    <li class="label">Image style to insert</li>
    <% for style in @styles %>
      <li class="scope" id="style-<%= style %>" data-rich-style="<%= style %>"><%= style %></li>
    <% end %>
  </ul>
</header>

<div id="legacy-form"><%= form_for(@rich_image, :url => files_path) do |f| %>
  <p><%= f.file_field :image%></p>
  <%= f.submit("Upload") %>
<% end %>
</div>

<ul id="images">
  
  <li id="uploadBlock">
    <div id="upload" class="qq-upload-button placeholder">
      <div class="spinner"></div>
    </div>
    <p>Upload an image</p>
  </li>

	<%= render :partial => "image", :collection => @images, :as => :file %>

</ul>