<% content_for :head do %>
  <%= javascript_include_tag "fileuploader" %>
<% end %>

<header>
  <ul>
    <li><h2>Show images (<%= @styles.inspect %>)</h2></li>
  </ul>
</header>

<div id="legacy-form"><%= form_for(@rich_image, :url => files_path) do |f| %>
  <p><%= f.file_field :image%></p>
  <%= f.submit("Upload") %>
<% end %>
</div>
<ul id="images">
  <li id="uploadBlock">
    <div id="upload" class="qq-upload-button placeholder">
      <div class="spinner"></div>
    </div>
  </li>
  
  <!-- <li>
    <div class="placeholder progress">
      <div class="progress-bar" style="width: 40%;"></div>
      <div class="spinner"></div>
    </div>
  </li>
  
  <li>
    <div class="placeholder progress">
      <div class="progress-bar" style="width: 100%;"></div>
      <div class="spinner"></div>
    </div>
  </li> -->
<% for image in @images %>
    <%= render :partial => 'image', :locals => {:image => image} %>
<% end %>
</ul>