= javascript_include_tag "rich/base.js"
= form.send field.view_helper, field.method_name, field.html_attributes
= link_to t('picker_browse').capitalize, Rich.editor[:richBrowserUrl], :class => "btn create"
- unless field.value.to_s.html_safe == ''
	%br
	%br
	%img{:src => field.value.html_safe, :style => 'height: 100px', :class => 'rich-image-preview'}
= javascript_tag do
	$(function(){$('##{form.dom_id(field)}_field a').click(function(e){ e.preventDefault(); assetPicker.showFinder('##{form.dom_id(field)}', #{Rich.options(field.config, field.scope_type, field.scope_id).to_json.html_safe})})})